/* Heading */
.heading {
    font-family: 'Londrina Sketch', cursive;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    padding-bottom: 5px;
    margin: 0;
}

.h1-rock {
    color: mediumslateblue;
}

.h1-paper {
    color: mediumseagreen;
}

.h1-scissors {
    color: mediumorchid;
}

/* Instruction Icons */
.instructions{
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    padding-right: 30px;
    margin: 0 auto;
    font-size: 10px;
}

.scissors-beats-paper {
    margin-left: 5px;
    margin-right: 5px;
}

.paper-beats-rock {
    margin-left: 5px;
    margin-right: 5px;
}

.rock-beats-scissors {
    margin-left: 5px;
    margin-right: 5px;
}

.fa-hand-back-fist {
    color: mediumslateblue;
}

.fa-hand {
    color: mediumseagreen;
}

.fa-hand-scissors {
    color: mediumorchid;
}

/* HTML & Body */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    background-color: white;
    color: rgb(77, 77, 77);
}

h1{
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    margin: 15px 0;
}

/* Game area, player- & computer score */
.container{
    display: flex;
}

.container .section{
    width: 100%;
    margin: 20px 50px;
    border: 1px solid;
    
}

/* Icons */
.section .info{
    background: rgb(45, 142, 177);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid;
    border-color: rgba(50, 50, 50, 0.841);
}

.info span , .info h3{
    font-size: 15px;
    font-weight: bold;
    margin: 0px 10px;
    font-family: 'Oswald', sans-serif;
    color: rgb(50, 50, 50);
    text-align: center;
    padding: 10px;
}

.show{
    display: flex;
    align-items: center;
    justify-content: center;
    background : rgb(36, 116, 145);
    height: 220px;
}

.show i{
    font-size: 100px;
    color: rgb(14, 41, 73);
}

h2{
    font-family: sans-serif;
    font-weight: bold;
    padding: 5px;
}

/* Buttons */
.selection{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 100px;
}

.selection button{
    margin: 0 20px;
    padding: 25px;
    border-radius: 50%;
    border: 1px solid;
    outline: none;
    cursor: pointer;
    background : rgb(36, 116, 145);
    font-size: 33px;
    color: rgb(14, 41, 73);
    border-color: rgba(50, 50, 50, 0.841);
}